{% load static %}

<div class="navbar fixed-bottom navbar-light " style="background-color: #9963d6;">
    <div class="container">
        <div>
            <!-- <h4 class="alert-heading">YouTube viewer</h4> -->
            <p>Веб приложение использует Python3, Django, Selenium, Seleniumwire, Thread.</p>
            <!-- <p class="mb-0">Если приложение работает не верно:</p>
            <p class="mb-0">- Устоновите зависимости командой pip3 install -r requirements.txt.</p>
            <p class="mb-0">- Перезагрузите приложение и сервер.</p> -->
            <hr> 
            <p class="m-3"> <img src="{% static 'images/github.png' %}" alt="" style="width:56px;height:56px;">   https://github.com/Mozheykin</p>
        </div>
    </div>
</div>